.jumbotron {
	/*padding: 2rem 1rem;*/
	padding-top: 2rem;
	background-color: 	#FF8C00;	
}
.fotodentist {
	border-radius: 10px;
}
#footer {
	/*padding: 2rem 1rem;*/
	padding-top: 2rem;
	background-color: 	#FF8C00;
}
